process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode
        ]
    }

    withName: READ_NAMES {
        publishDir = [
            path: { "${params.outdir}/read_names" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FASTQHEAD {
        publishDir = [
            path: { "${params.outdir}/fastqhead" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BOWTIE2_ALIGN {
        publishDir = [
            path: { "${params.outdir}/bowtie2_align" },
            mode: params.publish_dir_mode
        ]
    }

    withName: RMACHINE {
        publishDir = [
            path: { "${params.outdir}/rmachine" },
            mode: params.publish_dir_mode
        ]
    }

    withName: VERSIONSHTML {
        publishDir = [
            path: { "${params.outdir}/versionshtml" },
            mode: params.publish_dir_mode
        ]
    }

}
